:root{
    --main-big-font-color: springgreen;
    --main-font-color: rgb(255, 255, 255);
    --big-letter-font:  'Space Mono', monospace;
    --main-backgroun-color:rgb(31, 31, 34);
    --sales-pages-main-color: rgb(4, 225, 127);
}